@media screen and (max-width: 991px) {
	.login-block-wrapper .sta-button{
		margin:10px 0px;
	}
}
@media screen and (max-width: 749px) {
	.main-content-wrapper .sta-top .background-img {
		padding-top:70px;
	}
}
@media screen and (max-width: 625px) {
	.main-content-wrapper .sta-top .background-img {
		padding-top:60px;
	}
	.main-content-wrapper .sta-top .background-img .right-text h2 {
		font-size:22px;
	}
}
@media screen and (max-width: 568px) {
	.main-content-wrapper .sta-top .background-img .left-img img {
		height: 270px;
	}
	.main-content-wrapper .sta-top .background-img {
		padding-top:10px;
	}
}
